[submodule "pack/dirdiff/opt/dirdiff"]
	path = pack/dirdiff/opt/dirdiff
	url = https://github.com/will133/vim-dirdiff
	ignore = untracked
[submodule "pack/DoxygenToolkit/opt/DoxygenToolkit"]
	path = pack/DoxygenToolkit/opt/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim
	ignore = untracked
[submodule "pack/fugitive/opt/fugitive"]
	path = pack/fugitive/opt/fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = untracked
[submodule "pack/gitv/opt/gitv"]
	path = pack/gitv/opt/gitv
	url = https://github.com/gregsexton/gitv
	ignore = untracked
[submodule "pack/gundo/opt/gundo"]
	path = pack/gundo/opt/gundo
	url = https://github.com/sjl/gundo.vim
	ignore = untracked
[submodule "pack/linediff/opt/linediff"]
	path = pack/linediff/opt/linediff
	url = https://github.com/AndrewRadev/linediff.vim
	ignore = untracked
[submodule "pack/merginal/opt/merginal"]
	path = pack/merginal/opt/merginal
	url = https://github.com/idanarye/vim-merginal
	ignore = untracked
[submodule "pack/rtags/opt/rtags"]
	path = pack/rtags/opt/rtags
	url = https://github.com/lyuts/vim-rtags
	ignore = untracked
[submodule "pack/SrchRplcHiGrp/opt/SrchRplcHiGrp"]
	path = pack/SrchRplcHiGrp/opt/SrchRplcHiGrp
	url = https://github.com/vim-scripts/SrchRplcHiGrp.vim
	ignore = untracked
[submodule "pack/tagbar/opt/tagbar"]
	path = pack/tagbar/opt/tagbar
	url = https://github.com/majutsushi/tagbar
	ignore = untracked
[submodule "pack/tcomment/opt/tcomment"]
	path = pack/tcomment/opt/tcomment
	url = https://github.com/tomtom/tcomment_vim
	ignore = untracked
[submodule "pack/vc/opt/vc"]
	path = pack/vc/opt/vc
	url = https://github.com/juneedahamed/vc.vim
	ignore = untracked
[submodule "pack/vimagit/opt/vimagit"]
	path = pack/vimagit/opt/vimagit
	url = https://github.com/jreybert/vimagit
	ignore = untracked
[submodule "pack/VisIncr/opt/VisIncr"]
	path = pack/VisIncr/opt/VisIncr
	url = https://github.com/vim-scripts/VisIncr
	ignore = untracked
[submodule "pack/xml/opt/xml"]
	path = pack/xml/opt/xml
	url = https://github.com/othree/xml.vim
	ignore = untracked
[submodule "pack/YouCompleteMe/opt/YouCompleteMe"]
	path = pack/YouCompleteMe/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
	ignore = untracked
[submodule "pack/asyncrun/opt/asyncrun"]
	path = pack/asyncrun/opt/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/sessionman/opt/sessionman"]
	path = pack/sessionman/opt/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "pack/diffchar/opt/diffchar"]
	path = pack/diffchar/opt/diffchar
	url = https://github.com/rickhowe/diffchar.vim.git
