set nocompatible
" Verzeichnis, die dem die vimfiles-Verzeichnisse liegen:
let g:vimsuite = expand($VIM . '/vimsuite')
"let g:vimsuite = expand($VIM . '/vimfiles.current')

" Verzeichnis, in dem die vimfiles von Stefan liegen
let g:vimfiles = expand(g:vimsuite . '/vimfiles.stefan')

" Einstellungen laden
execute 'source ' . expand(g:vimfiles . '/vimrc')

" Falls weitere Einstellungen geladen werden sollen, so kann dies hier
" geschehen
" source ...
